Repository openshift-kni/baremetal-deploy, pull requests merged in 2020-10, with the labels that each got.

#520 Update version for OCP 4.6
  ansible-ipi-install/roles/installer/templates/etc-chrony.conf.j2
Labels: approved, lgtm

#521 Initial 4.6 set of changes for docs
  documentation/ipi-install/ipi-install-prerequisites.adoc
  documentation/ipi-install/modules/ipi-install-configuring-nodes.adoc
  documentation/ipi-install/modules/ipi-install-configuring-the-install-config-file.adoc
  documentation/ipi-install/modules/ipi-install-deploying-the-cluster-via-the-openshift-installer.adoc
  documentation/ipi-install/modules/ipi-install-extracting-the-openshift-installer.adoc
  documentation/ipi-install/modules/ipi-install-following-the-installation.adoc
  documentation/ipi-install/modules/ipi-install-out-of-band-management.adoc
  documentation/ipi-install/modules/ipi-install-validation-checklist-for-installation.adoc
  documentation/ipi-install/modules/ipi-install-validation-checklist-for-nodes.adoc
Labels: approved, kind/documentation, lgtm

#525 Catch paused vm's for cleanup as well
  ansible-ipi-install/roles/installer/library/virt.py
  ansible-ipi-install/roles/installer/tasks/59_cleanup_bootstrap.yml
Labels: approved, kind/bug, lgtm

#530 Fix config for 4.6 ignition
  ansible-ipi-install/roles/installer/templates/etc-chrony.conf.j2
Labels: approved, kind/bug, lgtm

#529 Adding virtualmedia and no provisioning network option
  ansible-ipi-install/inventory/hosts.sample
  ansible-ipi-install/roles/installer/tasks/25_create-install-config.yml
  ansible-ipi-install/roles/node-prep/defaults/main.yml
  ansible-ipi-install/roles/node-prep/tasks/10_validation.yml
  ansible-ipi-install/roles/node-prep/tasks/40_bridge.yml
  ansible-ipi-install/roles/node-prep/tasks/45_networking_facts.yml
  documentation/ansible-playbook/modules/ansible-playbook-modifying-the-inventoryhosts-file.adoc
Labels: approved, kind/documentation, lgtm

#533 Adding a new install config file for virtualmedia setups
  ansible-ipi-install/roles/installer/templates/install-config-virtualmedia.j2
Labels: approved, lgtm

#536 docs(troubleshooting): move all modules into ipi-install for better a…
  documentation/Troubleshooting.adoc
  documentation/ipi-install/images/troubleshooting.png
  documentation/ipi-install/ipi-install-upstream-troubleshooting.adoc
  documentation/ipi-install/modules/ipi-install-troubleshooting-api-not-accessible.adoc
  documentation/ipi-install/modules/ipi-install-troubleshooting-bootstrap-vm-cannot-boot.adoc
  documentation/ipi-install/modules/ipi-install-troubleshooting-bootstrap-vm-inspecting-logs.adoc
  documentation/ipi-install/modules/ipi-install-troubleshooting-bootstrap-vm.adoc
  documentation/ipi-install/modules/ipi-install-troubleshooting-cleaning-up-previous-installations.adoc
  documentation/ipi-install/modules/ipi-install-troubleshooting-cluster-nodes-will-not-pxe.adoc
  documentation/ipi-install/modules/ipi-install-troubleshooting-failed-ignition-during-firstboot.adoc
  documentation/ipi-install/modules/ipi-install-troubleshooting-install-config.adoc
  documentation/ipi-install/modules/ipi-install-troubleshooting-misc-issues.adoc
  documentation/ipi-install/modules/ipi-install-troubleshooting-ntp-out-of-sync.adoc
  documentation/ipi-install/modules/ipi-install-troubleshooting-post-install-pod-errors.adoc
  documentation/ipi-install/modules/ipi-install-troubleshooting-post-installation-pod-errors.adoc
  documentation/ipi-install/modules/ipi-install-troubleshooting-registry-issues.adoc
  documentation/ipi-install/modules/ipi-install-troubleshooting-reviewing-the-installation.adoc
  documentation/ipi-install/modules/ipi-install-troubleshooting-the-bootstrap-vm.adoc
  documentation/ipi-install/modules/ipi-install-troubleshooting-the-control-plane.adoc
  documentation/troubleshooting/images/flow1.png
  documentation/troubleshooting/images/flow2.png
  documentation/troubleshooting/images/flow3.png
  documentation/troubleshooting/images/flow4.png
  documentation/troubleshooting/images/watermark.png
  documentation/troubleshooting/ipi-install-troubleshooting.adoc
Labels: approved, kind/documentation, lgtm

#537 ci(auto-merge.yml): auto-merges dependabot pull requests that passes CI
  .github/workflows/auto-merge.yml
Labels: approved, lgtm

#540 docs(flow*.png): re-adds images under ipi-install hierarchy
  documentation/ipi-install/images/flow1.png
  documentation/ipi-install/images/flow2.png
  documentation/ipi-install/images/flow3.png
  documentation/ipi-install/images/flow4.png
Labels: approved, kind/documentation, lgtm

#539 fix(build.sh): fix PDF table generation with internal links rendered …
  documentation/ipi-install/modules/ipi-install-configuring-the-install-config-file.adoc
Labels: approved, kind/documentation, lgtm

#547 4.6 changes from downstream
  documentation/ipi-install/ipi-install-installation-workflow.adoc
  documentation/ipi-install/ipi-install-prerequisites.adoc
  documentation/ipi-install/modules/ipi-install-additional-install-config-parameters.adoc
  documentation/ipi-install/modules/ipi-install-bmc-addressing.adoc
  documentation/ipi-install/modules/ipi-install-configuring-networks.adoc
  documentation/ipi-install/modules/ipi-install-creating-the-openshift-manifests.adoc
  documentation/ipi-install/modules/ipi-install-deploying-routers-on-worker-nodes.adoc
  documentation/ipi-install/modules/ipi-install-deploying-the-cluster-via-the-openshift-installer.adoc
  documentation/ipi-install/modules/ipi-install-following-the-installation.adoc
  documentation/ipi-install/modules/ipi-install-ipv6-network-requirements.adoc
  documentation/ipi-install/modules/ipi-install-node-requirements.adoc
  documentation/ipi-install/modules/ipi-install-out-of-band-management.adoc
  documentation/ipi-install/modules/ipi-install-validation-checklist-for-installation.adoc
  documentation/ipi-install/modules/ipi-install-validation-checklist-for-nodes.adoc
Labels: approved, kind/documentation, lgtm

#543 Add spaces in vars
  ansible-ipi-install/roles/installer/tasks/15_disconnected_registry_create.yml
  ansible-ipi-install/roles/node-prep/tasks/10_validation.yml
  ansible-ipi-install/roles/node-prep/tasks/45_networking_facts.yml
  ansible-ipi-install/roles/node-prep/tasks/70_enabled_fw_services.yml
Labels: approved, lgtm

#531 Adding bootMode option to install config
  ansible-ipi-install/inventory/hosts.sample
  ansible-ipi-install/roles/installer/templates/install-config-virtualmedia.j2
  ansible-ipi-install/roles/installer/templates/install-config.j2
Labels: approved, kind/documentation, lgtm

#548 docs(ipi-install-additional-install-config-parameters.adoc): make ipv…
  documentation/ipi-install/modules/ipi-install-additional-install-config-parameters.adoc
Labels: approved, kind/documentation, lgtm

#546 docs(ipi-install-additional-install-config-parameters.adoc): minor ch…
  documentation/ipi-install/modules/ipi-install-additional-install-config-parameters.adoc
Labels: approved, kind/documentation, lgtm

#545 Adding Proxy settings to documentation
  documentation/ipi-install/modules/ipi-install-additional-install-config-parameters.adoc
  documentation/ipi-install/modules/ipi-install-configuration-files.adoc
  documentation/ipi-install/modules/ipi-install-setting-proxy-settings-within-install-config.adoc
Labels: approved, kind/documentation, lgtm

#550 fix(40_bridge-45_networking_facts): fixes conditionals failing on eit…
  ansible-ipi-install/roles/node-prep/tasks/40_bridge.yml
  ansible-ipi-install/roles/node-prep/tasks/45_networking_facts.yml
Labels: approved, lgtm

#551 Fixes issues with logic dealing with provisioning_subnet
  ansible-ipi-install/roles/node-prep/tasks/45_networking_facts.yml
Labels: approved, lgtm

#552 Update URL's for download
  documentation/ipi-install/modules/ipi-install-extracting-the-openshift-installer.adoc
  documentation/ipi-install/modules/ipi-install-upstream-extracting-the-installer-development.adoc
Labels: approved, kind/documentation, lgtm

#554 Tune dependabot commit messages
  .github/dependabot.yml
Labels: approved, lgtm
