Repository openshift-kni/baremetal-deploy, pull requests merged in 2020-12, with the labels that each got.

#588 Created a downstream version of the day-2 expanding the cluster.
  documentation/ipi-install/ipi-install-expanding-the-cluster.adoc
  documentation/ipi-install/modules/ipi-install-preparing-the-bare-metal-node.adoc
  documentation/ipi-install/modules/ipi-install-provisioning-the-bare-metal-node.adoc
Labels: approved, kind/documentation, lgtm

#599 Include cluster expansion
  documentation/ipi-install/ipi-install-upstream-master.adoc
Labels: approved, kind/documentation, lgtm

#597 Copy DS changes
  documentation/ipi-install/modules/ipi-install-configuring-the-install-config-file.adoc
  documentation/ipi-install/modules/ipi-install-creating-an-rhcos-images-cache.adoc
  documentation/ipi-install/modules/ipi-install-extracting-the-openshift-installer.adoc
  documentation/ipi-install/modules/ipi-install-troubleshooting-cleaning-up-previous-installations.adoc
Labels: approved, kind/documentation, lgtm

#606 Added a comment for Day 2, expanding the cluster
  documentation/ipi-install/ipi-install-expanding-the-cluster.adoc
  documentation/ipi-install/ipi-install-troubleshooting.adoc
Labels: approved, kind/documentation, lgtm

#603 Removed contractions, as they will get flagged by Ashley.
  documentation/ipi-install/modules/ipi-install-configuration-files.adoc
  documentation/ipi-install/modules/ipi-install-setting-proxy-settings-within-install-config.adoc
Labels: approved, kind/documentation, lgtm

#607 Do not use triple quotes
  documentation/ipi-install/modules/ipi-install-nmcli-setup-4.3.adoc
  documentation/ipi-install/modules/ipi-install-nmcli-setup.adoc
Labels: approved, lgtm

#608 Add optional path customized extra manifests
  ansible-ipi-install/inventory/hosts.sample
  ansible-ipi-install/roles/installer/tasks/50_extramanifests.yml
  documentation/ansible-playbook/modules/ansible-playbook-modifying-the-inventoryhosts-file.adoc
Labels: approved, kind/documentation, lgtm, ok-to-test

#611 Removing unneeded variables for 4.7 and fixing optional table
  documentation/ipi-install/modules/ipi-install-additional-install-config-parameters.adoc
  documentation/ipi-install/modules/ipi-install-modifying-install-config-for-no-provisioning-network.adoc
Labels: approved, kind/documentation, lgtm

#612 Use description/keywords/title for generated HTML
  documentation/ansible-playbook/ansible-playbook-fully-disconnected.adoc
  documentation/ansible-playbook/ansible-playbook-readme.adoc
  documentation/ipi-install/ipi-install-upstream-master.adoc
  documentation/ipi-install/ipi-install-upstream-troubleshooting.adoc
Labels: approved, kind/documentation, lgtm

#613 Docinfo for adding the document headers for rich headers (ldjson + twitter cards)
  documentation/ansible-playbook/ansible-playbook-fully-disconnected.adoc
  documentation/ansible-playbook/ansible-playbook-readme.adoc
  documentation/ansible-playbook/docinfo.html
  documentation/ipi-install/docinfo.html
  documentation/ipi-install/ipi-install-upstream-master.adoc
  documentation/ipi-install/ipi-install-upstream-troubleshooting.adoc
Labels: approved, kind/documentation, lgtm

#617 Added static IP discussion.
  documentation/ipi-install/modules/ipi-install-preparing-the-bare-metal-node.adoc
Labels: approved, kind/documentation, lgtm

#601 Remove warning and fix pool name
  documentation/ipi-install/modules/ipi-install-configuring-the-install-config-file.adoc
  documentation/ipi-install/modules/ipi-install-troubleshooting-cleaning-up-previous-installations.adoc
Labels: approved, kind/documentation, lgtm

#604 Added firmware requirements for virtual media.
  documentation/ipi-install/ipi-install-prerequisites.adoc
  documentation/ipi-install/modules/ipi-install-firmware-requirements-for-installing-with-virtual-media.adoc
Labels: approved, kind/documentation, lgtm

#587 Added day 2 operation for adding a bare metal node.
  documentation/ipi-install/ipi-install-upstream-master.adoc
  documentation/ipi-install/modules/ipi-install-upstream-adding-a-worker-node-to-an-existing-cluster.adoc
Labels: approved, kind/documentation, lgtm

#605 Added references to the Day 0 firmware requirements for virtual media.
  documentation/ipi-install/modules/ipi-install-bmc-addressing.adoc
Labels: approved, kind/documentation, lgtm

#609 Added node requirements for using SecureBoot.
  documentation/ipi-install/modules/ipi-install-node-requirements.adoc
Labels: approved, kind/documentation, lgtm

#610 Added Day 1 steps for enabling SecureBoot.
  documentation/ipi-install/modules/ipi-install-configuring-nodes.adoc
Labels: approved, kind/documentation, lgtm

#614 Initial cut of iRMC for Fujitsu.
  documentation/ipi-install/modules/ipi-install-bmc-addressing.adoc
Labels: approved, kind/documentation, lgtm

#615 Added text regarding infinite leases to create static IP addresses.
  documentation/ipi-install/modules/ipi-install-network-requirements.adoc
Labels: approved, kind/documentation, lgtm

#616 Added DHCP reservations to the checklist.
  documentation/ipi-install/modules/ipi-install-validation-checklist-for-installation.adoc
  documentation/ipi-install/modules/ipi-install-validation-checklist-for-nodes.adoc
Labels: approved, kind/documentation, lgtm
