Repository openshift-kni/baremetal-deploy, pull requests merged in 2020-06, with the labels that each got.

#429 Fix broken link
  documentation/ansible-playbook/modules/ansible-playbook-modifying-the-inventoryhosts-file-for-fully-disconnected-deployments.adoc
  documentation/ansible-playbook/modules/ansible-playbook-prerequisites.adoc
  documentation/ansible-playbook/modules/ansible-playbook-using-an-existing-registry.adoc
Labels: approved, kind/bug, kind/documentation, lgtm

#430 Use relative links for current version
  documentation/ansible-playbook/modules/ansible-playbook-contents-of-the-webserver.adoc
  documentation/ansible-playbook/modules/ansible-playbook-modifying-the-inventoryhosts-file.adoc
  documentation/ansible-playbook/modules/ansible-playbook-using-an-existing-registry.adoc
  documentation/troubleshooting/modules/ipi-install-troubleshooting-registry-issues.adoc
Labels: approved, kind/documentation, lgtm

#426 Add the ability to include a warning message or deprecated message to any task
  ansible-ipi-install/filter_plugins/deprecate_me.py
  ansible-ipi-install/filter_plugins/warn_me.py
Labels: approved, kind/feature, lgtm

#403 Ensuring that cache and registry containers autostart upon reboot
  ansible-ipi-install/roles/installer/defaults/main.yml
  ansible-ipi-install/roles/installer/tasks/15_disconnected_registry_create.yml
  ansible-ipi-install/roles/installer/tasks/24_rhcos_image_cache.yml
  ansible-ipi-install/roles/installer/templates/httpd_conf.j2
  ansible-ipi-install/roles/installer/templates/magic.j2
  documentation/ansible-playbook/modules/ansible-playbook-failed-to-connect-to-bus-no-file-or-directory.adoc
  documentation/ansible-playbook/modules/ansible-playbook-gotchas.adoc
Labels: approved, kind/documentation, lgtm

#433 Adding RedFish and RedFish Virtual Media documentation
  documentation/ipi-install/modules/ipi-install-additional-install-config-parameters.adoc
  documentation/ipi-install/modules/ipi-install-node-requirements.adoc
Labels: approved, kind/documentation, lgtm

#420 Reorder Troubleshooting with new data in IPv6 PR
  documentation/troubleshooting/ipi-install-upstream-troubleshooting.adoc
  documentation/troubleshooting/modules/ipi-install-troubleshooting-misc-issues.adoc
  documentation/troubleshooting/modules/ipi-install-troubleshooting-servers-not-getting-ipv6-from-dhcp.adoc
Labels: approved, kind/documentation, lgtm

#431 Use 'latest' folder for documents
  utils/build.sh
Labels: approved, lgtm

#437 Removed sudo command as its not necessary
  documentation/ipi-install/modules/ipi-install-creating-the-openshift-manifests.adoc
  documentation/ipi-install/modules/ipi-install-deploying-the-cluster-via-the-openshift-installer.adoc
Labels: approved, kind/documentation, lgtm

#438 Indenting issues with install-config.j2 template and dnsVIP parameter
  ansible-ipi-install/roles/installer/templates/install-config.j2
Labels: approved, lgtm

#419 Document cleanup in its own section
  documentation/ipi-install/ipi-install-upstream-master.adoc
  documentation/ipi-install/modules/ipi-install-config-yaml-4.3.adoc
  documentation/ipi-install/modules/ipi-install-config-yaml-4.4.adoc
  documentation/ipi-install/modules/ipi-install-config-yaml.adoc
  documentation/ipi-install/modules/ipi-install-configuring-the-install-config-file.adoc
  documentation/ipi-install/modules/ipi-install-deploying-the-cluster-via-the-openshift-installer.adoc
  documentation/ipi-install/modules/ipi-install-upstream-appendix.adoc
  documentation/ipi-install/modules/ipi-install-upstream-troubleshooting.adoc
  documentation/troubleshooting/modules/ipi-install-troubleshooting-cleaning-up-previous-installations.adoc
Labels: approved, kind/documentation, lgtm

#440 Adding info for OSImages
  documentation/ipi-install/modules/ipi-install-creating-an-rhcos-images-cache.adoc
Labels: approved, kind/documentation, lgtm

#441 Fix description of certificate "C" attribute
  documentation/ipi-install/modules/ipi-install-creating-a-disconnected-registry.adoc
Labels: approved, kind/documentation, lgtm

#445 Changing statement so it doesn't sound like our repo moved
  ansible-ipi-install/README.md
  troubleshooting.md
Labels: approved, lgtm

#446 Remove offset=0
  documentation/ipi-install/modules/ipi-install-configuring-the-install-config-file.adoc
  documentation/ipi-install/modules/ipi-ipv6-install-config-yaml-4.5.adoc
Labels: approved, kind/documentation, lgtm

#447 Generalizing the domain of our hosts
  documentation/ansible-playbook/modules/ansible-playbook-failed-to-install-python3-crypto-python3-pyghmi.adoc
  documentation/ansible-playbook/modules/ansible-playbook-missing-python-netaddr-library.adoc
  documentation/ansible-playbook/modules/ansible-playbook-shared-connection-closed-on-provision-host.adoc
Labels: approved, kind/documentation, lgtm

#448 Adding VIP changes in the Troubleshooting doc
  documentation/troubleshooting/modules/ipi-install-troubleshooting-misc-issues.adoc
Labels: approved, kind/documentation, lgtm

#449 Add xrefs for each step
  documentation/ipi-install/modules/ipi-install-creating-a-disconnected-registry.adoc
Labels: approved, kind/documentation, lgtm

#450 Titlelinks
  documentation/ansible-playbook/ansible-playbook-fully-disconnected.adoc
  documentation/ansible-playbook/ansible-playbook-readme.adoc
  documentation/ipi-install/ipi-install-upstream-master.adoc
  documentation/troubleshooting/ipi-install-upstream-troubleshooting.adoc
Labels: approved, kind/documentation, lgtm

#452 Adding some more context regarding variables being set when creating a registry
  documentation/ipi-install/modules/ipi-install-creating-a-disconnected-registry.adoc
  documentation/ipi-install/modules/ipi-install-retrieving-openshift-installer.adoc
Labels: approved, kind/documentation, lgtm

#453 Revisions to the Troubleshooting Guide, aligning with downstream
  documentation/troubleshooting/images/flow2.png
  documentation/troubleshooting/ipi-install-upstream-troubleshooting.adoc
  documentation/troubleshooting/modules/ipi-install-troubleshooting-api-not-accessible.adoc
  documentation/troubleshooting/modules/ipi-install-troubleshooting-bootstrap-vm-cannot-boot.adoc
  documentation/troubleshooting/modules/ipi-install-troubleshooting-bootstrap-vm-inspecting-logs.adoc
  documentation/troubleshooting/modules/ipi-install-troubleshooting-bootstrap-vm.adoc
  documentation/troubleshooting/modules/ipi-install-troubleshooting-cleaning-up-previous-installations.adoc
  documentation/troubleshooting/modules/ipi-install-troubleshooting-cluster-nodes-will-not-pxe.adoc
  documentation/troubleshooting/modules/ipi-install-troubleshooting-cluster-nodes-wont-pxe.adoc
  documentation/troubleshooting/modules/ipi-install-troubleshooting-failed-ignition-during-firstboot.adoc
  documentation/troubleshooting/modules/ipi-install-troubleshooting-flow.adoc
  documentation/troubleshooting/modules/ipi-install-troubleshooting-following-the-installation.adoc
  documentation/troubleshooting/modules/ipi-install-troubleshooting-install-config.adoc
  documentation/troubleshooting/modules/ipi-install-troubleshooting-misc-issues.adoc
  documentation/troubleshooting/modules/ipi-install-troubleshooting-ntp-out-of-sync.adoc
  documentation/troubleshooting/modules/ipi-install-troubleshooting-post-install-pod-errors.adoc
  documentation/troubleshooting/modules/ipi-install-troubleshooting-registry-issues.adoc
  documentation/troubleshooting/modules/ipi-install-troubleshooting-reviewing-the-installation.adoc
Labels: approved, kind/documentation, lgtm

#451 Make install config contain more details on defaults, parameters, etc
  documentation/ipi-install/modules/ipi-install-additional-install-config-parameters.adoc
  documentation/ipi-install/modules/ipi-install-config-yaml-4.3.adoc
  documentation/ipi-install/modules/ipi-install-config-yaml-4.4.adoc
  documentation/ipi-install/modules/ipi-install-config-yaml.adoc
  documentation/ipi-install/modules/ipi-install-configuring-the-install-config-file.adoc
Labels: approved, kind/documentation, lgtm

#457 Following the installation
  documentation/ipi-install/ipi-install-upstream-master.adoc
  documentation/ipi-install/modules/ipi-install-following-the-installation.adoc
  documentation/troubleshooting/ipi-install-upstream-troubleshooting.adoc
Labels: approved, kind/documentation, lgtm
