Repository openshift-kni/baremetal-deploy, pull requests merged in 2020-11, with the labels that each got.

#558 fix(45_networking_facts.yml): removes duplicate when clause
  .ansible-lint
  .github/workflows/ansible-lint.yml
  ansible-ipi-install/roles/node-prep/tasks/45_networking_facts.yml
  test-requirements.txt
Labels: approved, lgtm

#564 Build DEVEL version for Troubleshooting
  utils/build.sh
Labels: approved, lgtm

#565 Increase provisioning network size
  ansible-ipi-install/roles/node-prep/tasks/40_bridge.yml
Labels: approved, lgtm

#557 fix(100_power_off_cluster_servers): skips errors on the power off tas…
  ansible-ipi-install/roles/node-prep/tasks/100_power_off_cluster_servers.yml
Labels: approved, lgtm

#573 Removed unneeded sudo.
  documentation/ipi-install/modules/ipi-install-preparing-the-provisioner-node-for-openshift-install.adoc
Labels: approved, kind/documentation, lgtm

#574 Removed unneeded sudo.
  documentation/ipi-install/modules/ipi-install-creating-the-openshift-manifests.adoc
  documentation/ipi-install/modules/ipi-install-deploying-the-cluster-via-the-openshift-installer.adoc
Labels: approved, kind/documentation, lgtm

#571 Add support for optional path for 55_customize_filesystem
  ansible-ipi-install/inventory/hosts.sample
  ansible-ipi-install/roles/installer/tasks/55_customize_filesystem.yml
  documentation/ansible-playbook/modules/ansible-playbook-modifying-the-inventoryhosts-file.adoc
Labels: approved, kind/documentation, lgtm, ok-to-test

#578 Re-add provisioning NIC interface
  documentation/ipi-install/modules/ipi-install-config-yaml.adoc
Labels: approved, kind/documentation, lgtm

#579 Minor edits for minimalism.
  documentation/ipi-install/modules/ipi-install-setting-proxy-settings-within-install-config.adoc
Labels: approved, kind/documentation, lgtm

#575 Added sshKey and pullSecret descriptions.
  documentation/ipi-install/modules/ipi-install-additional-install-config-parameters.adoc
Labels: approved, kind/documentation, lgtm

#581 Updating the upstream doc to reflect "installer-provisioned"
  documentation/ipi-install/ipi-install-prerequisites.adoc
  documentation/ipi-install/modules/ipi-install-config-yaml.adoc
  documentation/ipi-install/modules/ipi-install-configuring-the-install-config-file.adoc
  documentation/ipi-install/modules/ipi-install-installing-rhel-on-the-provisioner-node.adoc
  documentation/ipi-install/modules/ipi-install-network-requirements.adoc
  documentation/ipi-install/modules/ipi-install-node-requirements.adoc
Labels: approved, kind/documentation, lgtm

#583 Update greetings
  .github/workflows/greetings.yml
Labels: approved, lgtm

#585 Set source links for sshkey/pullsecret
  documentation/ipi-install/modules/ipi-install-config-yaml-4.3.adoc
  documentation/ipi-install/modules/ipi-install-config-yaml-4.4.adoc
  documentation/ipi-install/modules/ipi-install-config-yaml-4.5.adoc
  documentation/ipi-install/modules/ipi-install-config-yaml.adoc
Labels: approved, kind/documentation, lgtm

#582 Add missed pipe
  documentation/ipi-install/modules/ipi-install-creating-a-disconnected-registry.adoc
Labels: approved, kind/documentation, lgtm, ok-to-test

#590 fixing prereqs
  documentation/ipi-install/ipi-install-prerequisites.adoc
Labels: approved, kind/documentation, lgtm

#592 Fixed small typo.
  documentation/ipi-install/modules/ipi-install-node-requirements.adoc
Labels: approved, kind/documentation, lgtm

#591 Synchronizing upstream and downstream files.
  documentation/ipi-install/modules/ipi-install-installing-rhel-on-the-provisioner-node.adoc
Labels: approved, kind/documentation, lgtm

#586 Putting periods outside of conditional tags so punctuation is correct.
  documentation/ipi-install/modules/ipi-install-additional-install-config-parameters.adoc
  documentation/ipi-install/modules/ipi-install-bmc-addressing.adoc
  documentation/ipi-install/modules/ipi-install-config-yaml-4.3.adoc
  documentation/ipi-install/modules/ipi-install-config-yaml-4.4.adoc
  documentation/ipi-install/modules/ipi-install-config-yaml-4.5.adoc
  documentation/ipi-install/modules/ipi-install-config-yaml.adoc
  documentation/ipi-install/modules/ipi-install-configuring-the-install-config-file.adoc
Labels: approved, kind/documentation, lgtm

#595 Incorporating style changes from Ashley downstream.
  documentation/ipi-install/modules/ipi-install-additional-install-config-parameters.adoc
Labels: approved, kind/documentation, lgtm
