Repository openshift-kni/baremetal-deploy, pull requests merged in 2021-05, with the labels that each got.

#745 Updated comments from Andrew and Polina.
  documentation/ipi-install/modules/ipi-install-configure-network-components-to-run-on-the-control-plane.adoc
  documentation/ipi-install/modules/ipi-install-network-requirements.adoc
Labels: approved, kind/documentation, lgtm

#748 Telcodocs 115 modification
  documentation/ipi-install/ipi-install-configuration-files.adoc
  documentation/ipi-install/modules/ipi-install-configuring-ntp-for-disconnected-clusters.adoc
Labels: approved, kind/documentation, lgtm

#749 Added reusable topic for configuring an external load balancer.
  documentation/ipi-install/ipi-install-post-installation-configuration.adoc
  documentation/ipi-install/modules/nw-osp-configuring-external-load-balancer.adoc
Labels: approved, kind/documentation, lgtm

#757 Content for upstream-downstream synchronization.
  documentation/ipi-install/ipi-install-configuration-files.adoc
  documentation/ipi-install/ipi-install-expanding-the-cluster.adoc
  documentation/ipi-install/ipi-install-prerequisites.adoc
  documentation/ipi-install/main.adoc
  documentation/ipi-install/modules/ipi-install-troubleshooting-api-not-accessible.adoc
  documentation/ipi-install/modules/ipi-install-troubleshooting-bootstrap-vm-cannot-boot.adoc
  documentation/ipi-install/modules/ipi-install-troubleshooting-bootstrap-vm-inspecting-logs.adoc
  documentation/ipi-install/modules/ipi-install-troubleshooting-bootstrap-vm.adoc
  documentation/ipi-install/modules/ipi-install-troubleshooting-cleaning-up-previous-installations.adoc
  documentation/ipi-install/modules/ipi-install-troubleshooting-cluster-nodes-will-not-pxe.adoc
  documentation/ipi-install/modules/ipi-install-troubleshooting-failed-ignition-during-firstboot.adoc
  documentation/ipi-install/modules/ipi-install-troubleshooting-install-config.adoc
  documentation/ipi-install/modules/ipi-install-troubleshooting-misc-issues.adoc
  documentation/ipi-install/modules/ipi-install-troubleshooting-ntp-out-of-sync.adoc
  documentation/ipi-install/modules/ipi-install-troubleshooting-registry-issues.adoc
  documentation/ipi-install/modules/ipi-install-troubleshooting-reviewing-the-installation.adoc
Labels: approved, kind/documentation, lgtm

#759 Synced upstream and downstream RHCOS module.
  documentation/ipi-install/modules/ipi-install-creating-an-rhcos-images-cache.adoc
Labels: approved, kind/documentation, lgtm

#761 Content for restore-provisioningInterface
  documentation/ipi-install/modules/ipi-install-additional-install-config-parameters.adoc
Labels: approved, kind/documentation, lgtm

#762 Content for TELCODOCS-216
  documentation/ipi-install/images/161_OpenShift_Baremetal_IPI_Deployment_updates_0521.svg
  documentation/ipi-install/ipi-install-overview.adoc
Labels: approved, kind/documentation, lgtm

#764 IPv6DualStackNoUpgrade is not required from 4.8 for dualstack
  ansible-ipi-install/roles/installer/tasks/50_extramanifests.yml
Labels: approved, lgtm, ok-to-test

#765 Content for telcodocs-216-fix
  documentation/ipi-install/modules/ipi-install-configure-network-components-to-run-on-the-control-plane.adoc
Labels: approved, kind/documentation, lgtm

#768 Content for TELCODOCS-128
  documentation/ipi-install/ipi-install-post-installation-configuration.adoc
  documentation/ipi-install/modules/ipi-install-network-requirements.adoc
  documentation/ipi-install/modules/nw-enabling-a-provisioning-network-after-installation.adoc
Labels: approved, kind/documentation, lgtm

#767 cleanup old bootstrap vm storage
  ansible-ipi-install/roles/installer/tasks/59_cleanup_bootstrap.yml
  ansible-ipi-install/roles/installer/vars/main.yml
Labels: approved, lgtm, ok-to-test

#771 Adding missing brackets
  documentation/ipi-install/modules/ipi-install-creating-an-rhcos-images-cache.adoc
Labels: approved, kind/documentation, lgtm

#774 Content for TELCODOCS-284
  documentation/ipi-install/modules/ipi-install-modifying-install-config-for-dual-stack-network.adoc
Labels: approved, kind/documentation, lgtm

#773 Add ports under `rhcos_cache`
  documentation/ipi-install/modules/ipi-install-creating-an-rhcos-images-cache.adoc
Labels: approved, kind/documentation, lgtm

#777 Section to use the disconnected registry should use heredoc
  documentation/ipi-install/modules/ipi-install-creating-a-disconnected-registry.adoc
Labels: approved, kind/documentation, lgtm, needs-ok-to-test
