Repository openshift-kni/baremetal-deploy, pull requests merged in 2021-04, with the labels that each got.

#711 Set a "Subject Alternate Names" when securing disconnected registry
  documentation/ipi-install/modules/ipi-install-creating-a-disconnected-registry.adoc
Labels: approved, kind/documentation, lgtm, needs-ok-to-test

#709 adding instructions on how to get the value for UPSTREAM_REPO
  documentation/ipi-install/modules/ipi-install-creating-a-disconnected-registry.adoc
Labels: approved, kind/documentation, lgtm, needs-ok-to-test

#713 Reinforce --recursive usage idea
  documentation/ansible-playbook/modules/ansible-playbook-git-clone.adoc
Labels: approved, lgtm

#714 Fix typo in keywords
  documentation/ansible-playbook/ansible-playbook-fully-disconnected.adoc
  documentation/ansible-playbook/ansible-playbook-readme.adoc
  documentation/ipi-install/ipi-install-upstream-master.adoc
  documentation/ipi-install/ipi-install-upstream-troubleshooting.adoc
Labels: approved, kind/documentation, lgtm

#715 Hide pullsecret in ansible verbose mode
  ansible-ipi-install/roles/installer/tasks/15_disconnected_registry_existing.yml
Labels: approved, lgtm, needs-ok-to-test

#718 Remove automerge
  .github/workflows/auto-merge.yml
Labels: approved, lgtm

#699 First draft of apiVIP and IngressVIP placement only on master nodes.
  documentation/ipi-install/ipi-install-configuration-files.adoc
  documentation/ipi-install/modules/ipi-install-configure-network-components-to-run-on-the-control-plane.adoc
Labels: approved, kind/documentation, lgtm

#720 Update link naming and typo
  documentation/ipi-install/modules/ipi-install-config-yaml-4.3.adoc
  documentation/ipi-install/modules/ipi-install-config-yaml-4.4.adoc
  documentation/ipi-install/modules/ipi-install-config-yaml-4.5.adoc
  documentation/ipi-install/modules/ipi-install-config-yaml.adoc
  documentation/ipi-install/modules/ipi-install-configuring-the-install-config-file.adoc
  documentation/ipi-install/modules/ipi-install-upstream-adding-a-worker-node-to-an-existing-cluster.adoc
Labels: approved, kind/documentation, lgtm

#721 Added NTP graphic.
  documentation/ipi-install/images/152_OpenShift_Config_NTP_0421.svg
  documentation/ipi-install/modules/ipi-install-configuring-ntp-for-disconnected-clusters.adoc
Labels: approved, kind/documentation, lgtm

#724 Remove duplicated module
  documentation/ipi-install/modules/ipi-install-upstream-reserving-ips-for-vips-and-nodes.adoc
Labels: approved, kind/documentation, lgtm

#723 Adding missing wildcard under dnsmasq for ipv6
  documentation/ipi-install/modules/ipi-install-upstream-creating-dhcp-reservations-using-dnsmasq-option2.adoc
Labels: approved, kind/documentation, lgtm

#706 Enable IPv6 dual-stack deployments
  ansible-ipi-install/inventory/hosts.sample
  ansible-ipi-install/roles/installer/files/ipv6-dual-stack-no-upgrade.yml
  ansible-ipi-install/roles/installer/tasks/50_extramanifests.yml
  ansible-ipi-install/roles/installer/templates/install-config-virtualmedia.j2
  ansible-ipi-install/roles/installer/templates/install-config.j2
  ansible-ipi-install/roles/node-prep/defaults/main.yml
  ansible-ipi-install/roles/node-prep/tasks/10_validation.yml
  ansible-ipi-install/roles/node-prep/tasks/40_bridge.yml
  ansible-ipi-install/roles/node-prep/vars/main.yml
Labels: approved, lgtm, needs-ok-to-test

#712 Update tree for the dualstack pr
  documentation/ansible-playbook/modules/ansible-playbook-tour-of-the-ansible-playbook.adoc
Labels: approved, kind/documentation, lgtm

#725 adding the web console access
  documentation/ipi-install/modules/ipi-install-upstream-accessing-the-web-console.adoc
Labels: approved, kind/documentation, lgtm

#726 Run precommit on new files
  documentation/ipi-install/images/152_OpenShift_Config_NTP_0421.svg
  documentation/ipi-install/images/71_OpenShift_4.6_Baremetal_IPI_Deployment_1020_1.svg
  documentation/ipi-install/images/71_OpenShift_4.6_Baremetal_IPI_Deployment_1020_2.svg
  documentation/ipi-install/modules/ipi-install-troubleshooting-ironic-bootstrap.adoc
  documentation/ipi-install/modules/ipi-install-upstream-accessing-the-web-console.adoc
Labels: approved, kind/documentation, lgtm

#728 Remove duplicated module
  documentation/ipi-install/modules/ipi-install-configuration-files.adoc
Labels: approved, kind/documentation, lgtm

#729 Adddualstack
  documentation/ipi-install/ipi-install-configuration-files.adoc
  documentation/ipi-install/modules/ipi-install-modifying-install-config-for-dual-stack-network.adoc
Labels: approved, kind/documentation, lgtm

#733 adding link to web console
  documentation/ipi-install/ipi-install-upstream-master.adoc
Labels: approved, kind/documentation, lgtm

#734 adding steps for dual-stack inventory file
  documentation/ansible-playbook/modules/ansible-playbook-inventory-dual-stack.adoc
  documentation/ansible-playbook/modules/ansible-playbook-running-the-ansible-playbook.adoc
Labels: approved, kind/documentation, lgtm

#736 Show URL for console via OC
  documentation/ipi-install/modules/ipi-install-upstream-accessing-the-web-console.adoc
Labels: approved, kind/documentation, lgtm

#737 Shorten title in index
  documentation/ansible-playbook/modules/ansible-playbook-inventory-dual-stack.adoc
Labels: approved, kind/documentation, lgtm

#738 Edits from Ashley.
  documentation/ipi-install/ipi-install-post-installation-configuration.adoc
  documentation/ipi-install/modules/ipi-install-configuring-ntp-for-disconnected-clusters.adoc
Labels: approved, kind/documentation, lgtm

#739 Modifications to Secure Boot docs
  documentation/ipi-install/ipi-install-configuration-files.adoc
  documentation/ipi-install/modules/ipi-install-additional-install-config-parameters.adoc
  documentation/ipi-install/modules/ipi-install-configuring-nodes.adoc
  documentation/ipi-install/modules/ipi-install-node-requirements.adoc
Labels: approved, kind/documentation, lgtm

#740 Forgot to check-in the new module.
  documentation/ipi-install/modules/ipi-install-configuring-managed-secure-boot-in-the-install-config-file.adoc
Labels: approved, kind/documentation, lgtm

#741 Minor edit from Dmitry.
  documentation/ipi-install/modules/ipi-install-firmware-requirements-for-installing-with-virtual-media.adoc
Labels: approved, kind/documentation, lgtm

#742 Lubov thinks it looks better to nest the vendor-specific BMC topics.
  documentation/ipi-install/ipi-install-configuration-files.adoc
Labels: approved, kind/documentation, lgtm

#743 Added UEFI to the bootMode paramater.
  documentation/ipi-install/modules/ipi-install-additional-install-config-parameters.adoc
Labels: approved, kind/documentation, lgtm
