Repository openshift-kni/baremetal-deploy, pull requests merged in 2021-01, with the labels that each got.

#623 fix typo
  features/Dockerfile.buildimage
Labels: approved, lgtm

#625 Telcodocs 121
  documentation/ipi-install/modules/ipi-install-configuring-nodes.adoc
  documentation/ipi-install/modules/ipi-install-node-requirements.adoc
Labels: approved, kind/documentation, lgtm

#629 Knideploy 3704 doc
  documentation/ipi-install/modules/ipi-install-additional-install-config-parameters.adoc
  documentation/ipi-install/modules/ipi-install-configuration-files.adoc
  documentation/ipi-install/modules/ipi-install-network-requirements.adoc
Labels: approved, kind/documentation, lgtm

#630 Replaced ocp-dev-preview with ocp from downstream version.
  documentation/ipi-install/modules/ipi-install-preparing-the-bare-metal-node.adoc
Labels: approved, kind/documentation, lgtm

#631 Update for firmware requirements for Dell RedFish Virtual Media.
  documentation/ipi-install/modules/ipi-install-bmc-addressing.adoc
  documentation/ipi-install/modules/ipi-install-firmware-requirements-for-installing-with-virtual-media.adoc
Labels: approved, kind/documentation, lgtm

#632 Added Ironic bootstrap troubleshooting
  documentation/ipi-install/ipi-install-upstream-troubleshooting.adoc
  documentation/ipi-install/modules/ipi-install-troubleshooting-ironic-bootstrap.adoc
Labels: approved, kind/documentation, lgtm, needs-ok-to-test

#634 Updated with comments from Victor Voronkov.
  documentation/ipi-install/modules/ipi-install-preparing-the-bare-metal-node.adoc
Labels: approved, kind/documentation, lgtm

#635 Reorder depth
  documentation/ipi-install/ipi-install-upstream-master.adoc
Labels: approved, kind/documentation, lgtm

#636 Day 0 description of requirements for using kubernetes-nmstate.
  documentation/ipi-install/modules/ipi-install-network-requirements.adoc
Labels: approved, kind/documentation, lgtm

#628 Upstream downstream sync on worklow
  documentation/ipi-install/images/71_OpenShift_4.6_Baremetal_IPI_Deployment_1020_1.svg
  documentation/ipi-install/images/71_OpenShift_4.6_Baremetal_IPI_Deployment_1020_2.svg
  documentation/ipi-install/ipi-install-configuration-files.adoc
  documentation/ipi-install/ipi-install-installation-workflow.adoc
  documentation/ipi-install/ipi-install-overview.adoc
  documentation/ipi-install/ipi-install-prerequisites.adoc
  documentation/ipi-install/ipi-install-upstream-master.adoc
  documentation/ipi-install/modules/common-attributes.adoc
  documentation/ipi-install/modules/ipi-install-validation-checklist-for-nodes.adoc
Labels: approved, kind/documentation, lgtm

#638 Added clarifying language per Bugzilla 1914440.
  documentation/ipi-install/modules/ipi-install-network-requirements.adoc
Labels: approved, kind/documentation, lgtm

#637 Try to cleanup attributes
  documentation/ipi-install/modules/common-attributes.adoc
Labels: approved, kind/documentation, lgtm

#642 Synchronizing edits made downstream into the upstream.
  documentation/ipi-install/modules/ipi-install-network-requirements.adoc
Labels: approved, kind/documentation, lgtm

#643 Word from Fujitsu is that this will move to 4.8.
  documentation/ipi-install/modules/ipi-install-bmc-addressing.adoc
Labels: approved, kind/documentation, lgtm

#644 Attempt to fix sitemap with url
  website/_config.yml
Labels: approved, lgtm

#645 Newurl
  website/_config.yml
Labels: approved, lgtm
