Repository openshift-kni/baremetal-deploy, pull requests merged in 2021-06, with the labels that each got.

#778 Content for TELCODOCS-128
  documentation/ipi-install/modules/nw-enabling-a-provisioning-network-after-installation.adoc
Labels: approved, kind/documentation, lgtm

#779 Content for TELCODOCS-216
  documentation/ipi-install/ipi-install-overview.adoc
  documentation/ipi-install/modules/ipi-install-configure-network-components-to-run-on-the-control-plane.adoc
Labels: approved, kind/documentation, lgtm

#780 Content for TELCODOCS-256
  documentation/ipi-install/modules/ipi-install-network-requirements.adoc
Labels: approved, kind/documentation, lgtm

#766 Changes for KNIDEPLOY-2111
  documentation/ipi-install/ipi-install-expanding-the-cluster.adoc
  documentation/ipi-install/modules/ipi-install-diagnosing-duplicate-mac-address.adoc
  documentation/ipi-install/modules/ipi-install-preparing-the-bare-metal-node.adoc
Labels: approved, kind/documentation, lgtm, ok-to-test

#784 Fix autonumbering
  documentation/ipi-install/modules/ipi-install-troubleshooting-bootstrap-vm.adoc
Labels: approved, kind/documentation, lgtm

#785 Content for TELCODOCS-113
  documentation/ipi-install/modules/nw-enabling-a-provisioning-network-after-installation.adoc
Labels: approved, kind/documentation, lgtm

#786 Update OWNERS
  OWNERS
Labels: approved, lgtm

#783 configurable provisioning network
  ansible-ipi-install/inventory/hosts.sample
  ansible-ipi-install/roles/installer/templates/metal3-config.j2
  ansible-ipi-install/roles/node-prep/tasks/40_bridge.yml
  documentation/ansible-playbook/modules/ansible-playbook-modifying-the-inventoryhosts-file.adoc
Labels: approved, kind/documentation, lgtm, ok-to-test

#787 Content for TELCODOCS-111
  documentation/ipi-install/modules/ipi-install-bmc-addressing-for-fujitsu.adoc
Labels: approved, kind/documentation, lgtm

#790 Content for TELCODOCS-111
  documentation/ipi-install/ipi-install-configuration-files.adoc
  documentation/ipi-install/modules/ipi-install-bmc-addressing-for-dell-idrac.adoc
  documentation/ipi-install/modules/ipi-install-bmc-addressing-for-fujitsu-irmc.adoc
  documentation/ipi-install/modules/ipi-install-bmc-addressing-for-hpe-ilo.adoc
Labels: approved, kind/documentation, lgtm
